{:paths ["src" "test" "resources" "classes"]
 :mvn/repos
 {"nexus-releases" {:url "https://nexus.redplanetlabs.com/repository/maven-public-releases"}}
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        com.rpl/rama {:mvn/version "0.9.2"}
        com.rpl/rama-helpers {:mvn/version "0.9.0"}
        com.rpl/rama-kafka {:mvn/version "0.9.0"}}

 :aliases
 {:test {:extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}}}
